

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

.userFirstName {
  color: red;
}

.container__dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;

  &__charts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .dailyActivity {
      background: #fbfbfb;
      border-radius: 5px;
      padding: 20px;
      width: 800px;
      height: 320px;
    }

    .miniCharts {
      display: flex;
      flex-direction: row;
      gap: 20px;

      &__chart {
        width: 33%;
        height: 260px;
        border-radius: 5px;
      }

      .averageDuration {
        background: red;
      }

      .performances {
        background-color: #282d30;
      }

      .score {
        background-color: #fbfbfb;
      }
    }
  }

  &__keyDatas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
