@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

.userFirstName {
  color: red;
}

.container__dashboard {
  display: flex;
  flex-direction: row;
  margin-top: 80px;

  &__charts {
    display: flex;
    flex-direction: column;
    gap:20px;

    &__dailyActivity {
      background: #fbfbfb;
      border-radius: 5px;
      padding: 20px;
      width: 800px;
      height: 400px;
    }

    &__miniCharts {
      display: flex;
      flex-direction: row;
      gap:20px;

      &__averageDuration {
        width: 33%;
        height: 280px;
        background: red;
        border-radius: 5px;
      }
      
      &__performances{
        width:33%;
        height:280px;
        background-color: #282D30;;
        border-radius: 5px;
      }
    
    }
  }
}
