@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

h3 {
  position: absolute;
  font-size: 15px;
}

.home__user {
  margin: 20px 0;
  padding: 12px 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: rgba(153, 18, 18, 0.8);
    box-shadow: 0 3px 5px rgba(153, 18, 18, 0.6);
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(1px);
  }
}
