// /* Fonts */
$font_body: "Roboto", sans-serif !default;

// /* Colors */
$primary-color: red;
$primary-bg-color: #f6f6f6;

/* Responsive */
$breakpoints: (
  mobile: 370px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
