@use "../../styles/utils/mixins" as *;

aside {
  width: 120px;
  height:100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.copyright {
  height:auto;
  color: white;
  transform: rotate(-90deg);
  font-size: 12px;

  white-space: nowrap;
}
