@use "../utils/mixins" as *;

main {
  display: flex;
  flex-direction: row;
}

.section__main {
  margin: 0 auto;
  padding: 50px 50px;

  @include responsive-large-desktop {
    padding: 50px 100px;
  }
}
