@use "../utils/variables" as *;
@use "../utils/mixins" as *;

* {
  font-family: $font_body;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



h1,
h2,
h3 {
  margin: 0;
}
